
.center-single-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    padding: 0;
}
.container-navbar{
    padding-left:10px;
    padding-right:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.container-navbar>#navbarNav>.navbar-nav{
    display: flex;
    flex-direction: row;
}
.container-navbar>#navbarNav>.navbar-nav>*{
    margin: 5px;
}
.form-group>.text-center{
    margin-top:20px;
}
.nav-link{
    padding: 0;
}
.container-navbar>.nav-time{
    padding-bottom: .3125rem;
}
.main-container{
    min-height: calc(100vh - 125px);
}
.display-picture{
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.display-picture > img{
    width: 100%; 
    height: 100%;
}
.form-control.search-input{
    width: 220px;
    flex: none;
    font-size: 10pt;
}
.search-input:focus{
    border-color: #ced4da;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) ;
}
.footer-link:hover, .navbar-brand.navbar-link:hover{
    color: #dc3545;
}
.nav-btn{
    font-size: 0.85rem;
    padding: 1px;
    padding-left: 7px;
    padding-right: 7px;
}
.answer-delete:hover{
    text-decoration: none;
}
.text-danger-size{
    font-size: 10pt;
}

/* users.blade.php */
.user-page {
    padding-top: 2%;
}

.user-page-table {
    border-collapse: collapse;
    width: 100%;
}
  
.user-page-content>th,td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-action {
    display: flex;
}