
.center-single-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    padding: 0;
    overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(52, 58, 64);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(51, 51, 51);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container-navbar{
    padding-left:10px;
    padding-right:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.container-navbar>#navbarNav>.navbar-nav{
    display: flex;
    flex-direction: row;
}
.container-navbar>#navbarNav>.navbar-nav>*{
    margin: 5px;
}
.form-group>.text-center{
    margin-top:20px;
}
.nav-link{
    padding: 0;
}
.container-navbar>.nav-time{
    padding-bottom: .3125rem;
}
.main-container{
    min-height: calc(100vh - 125px);
}
.display-picture{
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.display-picture > img{
    width: 100%; 
    height: 100%;
}
.form-control.search-input{
    width: 220px;
    flex: none;
    font-size: 10pt;
}
.search-input:focus{
    border-color: #ced4da;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) ;
}
.footer-link:hover, .navbar-brand.navbar-link:hover{
    color: #dc3545;
}
.nav-btn{
    font-size: 0.85rem;
    padding: 1px;
    padding-left: 7px;
    padding-right: 7px;
}
.answer-delete:hover{
    text-decoration: none;
}
.text-danger-size{
    font-size: 10pt;
}

/* admin page */
.admin-page {
    padding-top: 2%;
}

.admin-page-table {
    border-collapse: collapse;
    width: 100%;
}

.admin-paginate {
    padding-top: 3vh;
}

/* users.blade.php */
.user-page-content>th,td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-action {
    display: flex;
    justify-content: space-evenly;
    width: 12vw;
}

/* topics.blade.php */
.topic-page-content>th,td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.topic-name {
    width: 60vw;
}

.table-action {
    display: flex;
    justify-content: space-evenly;
}
select.picker__select--month, select.picker__select--year{
    padding: 0;
}
.profile-display-pic{
    width: 90px;
    height: 90px;
    margin-right: 10px;
}